@use "../utils" as *;

.header {left: 0; position: fixed; top: 0; width: 100%; z-index: 33; width: 100%;
  .header-row {
    display: flex;
    justify-content: space-between;
    @media #{$xxl,$xl} {
    }
    .logo{padding: .5rem 0rem; 
      a{
        
      }
    }
  .nav-area{
    display: flex;align-items: center;
    .main-menu {
      margin: 0 0 0 60px;
      @media #{$xl} {
        margin: 10px 0 0 0;
      }
      & ul {
        & > li {
          display: inline-block;
          position: relative;
          & > a {
            color: var(--tp-common-white);
            display: block;
            padding: .5rem 1.125rem;;
            font-size: var(--tp-fz-p);
            &:hover,
            &.active {
              color: var(--tp-text-body);
            }
            @media #{$xxl} {
              
            }
            @media #{$xxl,$xl} {
              
            }
            @media #{$xl} {
              
            }
          }
          // &.has-dropdown {
          //   & a {
          //     position: relative;
          //     &::after {
          //       content: "+";
          //       transform: translateY();
          //       right: 0;
          //     }
          //   }
          // }
          // & .sub-menu {
          //   position: absolute;
          //   top: 120%;
          //   left: 0;
          //   width: 240px;
          //   padding: 20px 30px;
          //   background: var(--tp-theme-primary);
          //   opacity: 0;
          //   visibility: hidden;
          //   @include transition(0.3s);
          //   & > li {
          //     display: block;
          //     width: 100%;
          //     margin: 0;
          //     & > a {
          //       display: block;
          //       font-weight: 500;
          //       padding: 5px 5px;
          //       font-size: 14px;
          //       z-index: 1;
          //       color: var(--tp-common-white);
          //       width: 100%;
          //       text-transform: capitalize;
          //       margin: 0;
          //       @include transition(0.3s);
          //       &:hover {
          //         color: var(--tp-theme-secondary);
          //       }
          //       &::before {
          //         display: none;
          //       }
          //       &::after {
          //         display: none;
          //       }
          //     }
          //   }
          // }
          // &:hover {
          //   & .sub-menu {
          //     visibility: visible;
          //     opacity: 1;
          //     top: 100%;
          //   }
          // }
        }
      }
    }
    .socail-area{
      display: flex;
      .mobile-no{
        & > a{
           color: var(--tp-common-white);
          display: block;padding: 0.5rem 1.125rem;font-size: var(--tp-fz-p);
        }
      }
      .contact-btn{
        & > a{
           color: var(--tp-common-white);
          display: block;padding: 0.3rem 1.125rem;font-size: var(--tp-fz-p);
          border:1px solid  var(--tp-common-white);border-radius: 4px; font-weight: var(--tp-fw-medium);
        }
      }
    }
  }
}
}



// header-sticky
.header-sticky {
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
  z-index: 99;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background: var(--tp-common-white);
  & .tp-bt-btn {
    box-shadow: rgba(100, 100, 111, 0.1) 1px 5px 20px 1px;
  }
}
.tp-home-one {
  &.header-sticky {
    padding-top: 0px;
    padding-bottom: 0px;
    & .main-menu {
      & nav > {
        & ul > {
          & li > {
            & a {
              padding: 40px 0;
            }
          }
        }
      }
    }
  }
}
.tp-mobile-header-area {
  &.header-sticky {
    position: fixed;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
    z-index: 99;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    background: var(--tp-common-white);
    & .tp-bt-btn {
      box-shadow: rgba(100, 100, 111, 0.1) 1px 5px 20px 1px;
    }
  }
}
